.places__paragraph {
  color: #fff;
  margin: 0;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.63;
}

.places__paragraph:not(:first-child){
  padding-top: 26px;
}

@media screen and (max-width:1023px) {
  .places__paragraph {
    font-size: 16px;
    max-width: 352px;
    width: 100%;
  }

  .places__paragraph:not(:first-child){
    padding-top: 25px;
  }
}

@media screen and (max-width:424px) {
  .places__paragraph {
    padding: 0 16px 0;
    max-width: 288px;
  }
}

