.cover__link {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  max-width: 100%;
  position: relative;
  z-index: 0;
  overflow: hidden;
  min-height: 740px;
}

.cover__link::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.3;
  z-index: -1;
  transition: opacity 200ms ease-in-out;
}

.cover__link:hover::before{
  opacity: 0.5;
  cursor: pointer;
}


