.gallery {
  padding-top: 92px;
}

@media screen and (max-width:1023px) {
  .gallery{
    max-width: 720px;
    padding-top: 88px;
  }
}

@media screen and (max-width:424px) {
  .gallery{
    padding-top: 64px;
  }
}
