.places__image {
  grid-area: image;
  max-width: 460px;
  width: 100%;
  object-fit: cover;
}

@media screen and (max-width:1279px) {
  .places__image {
    max-width: 440px;
  }
}

@media screen and (max-width:1023px) {
  .places__image {
    max-width: 340px;
  }
}

@media screen and (max-width:424px) {
  .places__image {
    padding: 0 16px 0;
  }
}

@media screen and (max-width:321px) {
  .places__image {
    width: 320px;
    padding: 0;
  }
}
