.places__link {
  padding: 0;
  color: #fff;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
}

.places__link:hover {
  cursor: pointer;
  opacity: 0.8;
}
