.section_size_narrow {
  padding: 0 148px;
  /* margin: 0 auto; */
}

@media screen and (max-width:1279px){
  .section_size_narrow {
    padding: 0 48px;
  }
}

@media screen and (max-width:1023px){
  .section_size_narrow {
    padding: 0;
  }
}
