.cover {
  padding-top: 92px;
  box-sizing: border-box;
  margin: 0 auto;
}

@media screen and (max-width:1279px) {
  .cover{
    padding: 92px 0px 0px;
  }
}

@media screen and (max-width:424px) {
  .cover{
    padding: 66px 0px 0px;
  }
}
