.cover__image {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  /* min-height: 740px; */
  height: 100%;
  position: absolute;
  /* top: 0;
  left: 0;
  right: 0;
  bottom: 0; */
  z-index: -2;
  display: block;
}
