.lead__image-group {
  width: 100%;
  padding-top: 64px;
  margin: 0 auto;
}

@media screen and (max-width:1279px){
  .lead__image-group {
    padding-top: 56px;
  }
}

@media screen and (max-width:424px){
  .lead__image-group {
    padding-top: 40px;
  }
}
