.cover__title {
  font-family: 'Inter';
  font-weight: 900;
  font-size: 72px;
  line-height: 1.05;
  color: #fff;
  max-width: 560px;
  width: 100%;
  text-align: center;
  margin: 0;
  padding-top: 245px;
}

@media screen and (max-width:1279px) {
  .cover__title {
    padding-top: 195px;
  }
}

@media screen and (max-width:1023px) {
  .cover__title {
    padding-top: 115px;
  }
}

@media screen and (max-width:767px) {
  .cover__title {
    padding-top: 60px;
  }
}

@media screen and (max-width:424px) {
  .cover__title {
    padding-top: 33px;
    font-size: 32px;
    max-width: 288px;
  }
}
